name: Industrialisation continue sur le serveur Alwaysdata
on: push
jobs:
  Connexion:
    runs-on: ubuntu-latest
    steps:
      - name: Connexion SSH avec le serveur
        uses: appleboy/ssh-action@master
        with:
          host: "ssh-${{ secrets.USERNAME }}.alwaysdata.net"
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd $HOME/www/
            rm -r front/*

  front-deployement:
    needs: Connexion
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #   - name: Moove to front
      #     run: |
      #         cd front
      #         ls -a

      - name: Install dependencies
        run: |
          cd front 
          npm install

      - name: build app
        run: |
          cd front 
          npm run build

    #   - name: List generated files
    #     run: |
    #       cd front 
    #       ls -R out

      - name: Transférer le fichier out
        uses: appleboy/scp-action@v0.1.0
        with:
          host: "ssh-${{ secrets.USERNAME }}.alwaysdata.net"
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: "front/out/*"
          target: "$HOME/www/front/"

      - name: Réorganiser les fichiers sur le serveur
        uses: appleboy/ssh-action@master
        with:
          host: "ssh-${{ secrets.USERNAME }}.alwaysdata.net"
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd $HOME/www/front/
            mv front/out/* .
            rm -rf front/
